.navbar {

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.navbar-links__home {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.navbar-cart {
  cursor: pointer;
  display: flex;
  width: 150px;
  align-items: center;
  box-shadow: -6px 0 4px -4px rgba(0, 0, 0, .5);
  height: 60px;
  position: relative;
}

.navbar-cart__icon {
  width: 40px;
}

.navbar-cart__counter {
    border-radius: 50%;
    background-color: rgb(255, 151, 232);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    position: absolute;
    top: 8px;
    left: 22px;
}

.navbar-cart__text {
  margin-left: 10px;
}